<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- 引入样式 -->
<link rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-default/index.css">

<body>

<div id="app">

    <el-form id="el-form" ref="form" :model="form" label-width="80px">
        <el-form-item label="id">
            <el-input v-model="form.id" style="width: 200px"
                      :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="名称">
            <el-input v-model="form.name" style="width: 100px"></el-input>
        </el-form-item>
        <el-form-item label="封面">
            <el-input v-model="form.poster" style="width: 600px"></el-input>
        </el-form-item>
        <el-form-item label="描述">
            <el-input type="textarea" v-model="form.description"
                      style="width: 600px"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">提交</el-button>
            <el-button @click="onBack">返回</el-button>
        </el-form-item>
    </el-form>
</div>


</body>
<!-- 引入组件库 -->
<!-- 引入组件库 -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/vue.js"></script>
<script src="/static/js/element/index.js"></script>
<script src="/static/js/utils.js"></script>
<script>
    var item_id = getValue('id');
    $(function () {

        if (item_id == undefined) {
            initData(undefined)
        } else {
            $.ajax({
                url: "/admin/v1/article/" + item_id,
                dataType: "jsonp",
                type: "get",
                success: function (data) {
                    initData(data)
                }
            })
        }


    });


    function initData(data) {
        var item;
        if (data == undefined) {
            item = {}
        } else {
            item = data['data']
        }
        var Main = {
            data() {
                return {
                    form: item
                }
            },
            methods: {
                onSubmit(e) {
                    var formData = this.form
                    $.ajax({
                        url: "/admin/v1/article/edit.json",
                        type: "post",
                        data: formData,
                        success: function (data) {
                            utils.goToPageWithOutCache('list.html');
                        }
                    })
                },
                onBack(e){
                    utils.goToPageWithOutCache('list.html');
                }
            }
        }
        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#app')
    }


</script>
</html>