body {
    margin: 0 10px;
    font-size: 16px;
    font-family: Microsoft Yahei;
    color: #333;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.mt-10 {
    margin-top: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.hrPageTable > thead > tr > th,
.hrPageTable > thead > tr > td {
    border-bottom-width: 1px;
}

.hrPageTable tr th,
.hrPageTable tr td {
    text-align: center;
}

.hrPageTable > thead > tr > th {
    background: #ddd;
}

.hrPageCtrl {
    width: 100%;
    vertical-align: middle;
}

.hrPageCtrlList a,
.hrPageCtrlList span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    text-align: center;
}

.hrPageCtrlList a:hover {
    background: #428bca;
    color: #fff;
}

a.hrPageCurrent.active {
    background: #428bca;
    color: #fff;
}

.posiT-n {
    position: relative;
    top: 3px;
}

.hrPageCtrlList a.hrPageDisabled {
    background: #eee;
    color: #428bca;
    cursor: not-allowed;
}

.hrPageCtrlList a.hrPageDisabled:hover {
    background: #eee;
    color: #428bca;
}